

@keyframes fondo-anim{
  0%{background-position: left;} /*por defecto*/
  100%{background-position: right;}
  }

.root {
  background-color: black;
}

.App {
  background-color: black;
  background: linear-gradient(338deg, rgb(255, 230, 3) 0%, rgb(96, 16, 255) 56%, rgb(252, 69, 69) 98%);
  background-size: 400%;
  animation: fondo-anim 20s infinite alternate;
  padding: 0%;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.sticky {  
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;    
}


@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

body {
  background: #1a1e23;
  margin: 0;
}

