

@keyframes fondo-anim{
  0%{background-position: left;} /*por defecto*/
  100%{background-position: right;}
  }

.root {
  background-color: black;
}

.App {
  background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 10%, rgba(115,69,252,1) 30%, rgb(255, 255, 255) 46%, rgb(255, 255, 255) 62%, rgba(216,118,187,1) 80%, rgba(255,255,255,0) 98%);
  background-size: 800%;
  animation: fondo-anim 5s infinite alternate-reverse;
  padding: 0%;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.sticky {  
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;    
}


@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

body {
  background: #1a1e23;
  margin: 0;
}

div.card {
  display:flex;
  flex-direction: row;
  color:black;
  flex-wrap: wrap;
  flex: 200px;
  justify-content: space-around;
  font-family:initial;
  background-color: rgba(240, 255, 255, 0.412);
  align-items: flex-start;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  margin: 30px;
}

@media (max-width: 800px) {
  div.card {
    flex-direction: column;
  }
}