

@keyframes fondo-anim{
  0%{background-position: left;} /*por defecto*/
  100%{background-position: right;}
  }

.root {
  background-color: black;
}

.App {
  background-color: black;
  background: linear-gradient(338deg, rgba(171,58,180,1) 0%, rgba(69,114,252,1) 56%, rgba(252,175,69,1) 98%);
  background-size: 400%;
  animation: fondo-anim 20s infinite alternate;
  padding: 0%;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
